body{

font-family: Arial;
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

width:700px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

h2{

text-align:center;
margin-bottom:20px;

}

.task-form{

text-align:center;
margin-bottom:20px;

}

.task-form input{

padding:10px;
width:60%;
border:1px solid #ccc;
border-radius:5px;

}

.add-btn{

padding:10px 15px;
background:#28a745;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:10px;
text-align:center;
border-bottom:1px solid #ddd;

}

th{

background:#333;
color:white;

}

.actions{

display:flex;
justify-content:center;
gap:10px;

}

.complete-btn{

background:#007bff;
color:white;
border:none;
padding:6px 10px;
border-radius:4px;
cursor:pointer;

}

.delete-btn{

background:#dc3545;
color:white;
border:none;
padding:6px 10px;
border-radius:4px;
cursor:pointer;

}

.complete-btn:hover{

background:#0056b3;

}

.delete-btn:hover{

background:#a71d2a;

}

td{

padding:10px;
text-align:center;
border-bottom:1px solid #ddd;
word-wrap: break-word;
max-width:250px;

}

/* dashboard */

.dashboard{
display:flex;
justify-content:center;
gap:12px;          /* buttons ke beech gap */
margin-bottom:35px; /* table se distance */
}

/* small counter buttons */

.card{
margin-top: 30px;
padding:4px 8px;
border-radius:12px;
font-size:11px;
font-weight:600;
min-width:65px;
text-align:center;
box-shadow:0 2px 4px rgba(0,0,0,0.1);
}

.card span{
display:block;
font-size:13px;
font-weight:bold;
}

/* colors */

.total{

background:#6c757d;
color:white;
}

.pending{
background:#ffc107;
color:black;
}

.completed{
background:#28a745;
color:white;
}

/* action buttons */

.actions{
display:flex;
justify-content:center;
gap:8px;  /* complete aur delete ke beech gap */
}

/* same button size */

.complete-btn,
.delete-btn{

width:80px;
padding:6px 0;
font-size:12px;
border:none;
border-radius:5px;
cursor:pointer;

}

.complete-btn{
background:#007bff;
color:white;
}

.delete-btn{
background:#dc3545;
color:white;
}

/* hover */

.complete-btn:hover{
background:#0056b3;
}

.delete-btn:hover{
background:#a71d2a;
}